@font-face {
	font-family: 'icomoon';
	src: url("http://xn--ok1byh308a65fd6c.kr/skin/layouts/incell/fonts/icomoon/icomoon.eot?srf3rx");
	src: url("http://xn--ok1byh308a65fd6c.kr/skin/layouts/incell/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("http://xn--ok1byh308a65fd6c.kr/skin/layouts/incell/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("http://xn--ok1byh308a65fd6c.kr/skin/layouts/incell/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("http://xn--ok1byh308a65fd6c.kr/skin/layouts/incell/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@import url(../../../../../fonts.googleapis.com/earlyaccess/nanumbrushscript.css); .nanumbrushscript * { font-family: 'Nanum Brush Script', cursive; }

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
body {
  /* font-family: "Cormorant Garamond", 'NanumSquare', Georgia, serif; */
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  line-height: 1.7;

  /*background: #000 url(../images/broken_noise.png) repeat;*/
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body {
    /*background: #000 url(../images/broken_noise.png) repeat;*/
  }
}
.mo_view {
	display:none;
}
@media screen and (max-width: 768px) {
	.pc_view {
		display:none;
	}
	.mo_view {
		display:block;
	}
}

#page {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.offcanvas #page {
  overflow: hidden;
  position: absolute;
}
.offcanvas #page:after {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, 0.7);
  content: "";
}

a {
  color: #000;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #000;
  outline: none;
  text-decoration: none;
}

p {
  
}

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-weight: 400;
  margin: 0 0 20px 0;
}

::-webkit-selection {
  color: #fff;
  background: #2e8d24;
}

::-moz-selection {
  color: #fff;
  background: #2e8d24;
}

::selection {
  color: #fff;
  background: #2e8d24;
}
.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, .frm_input {
	width:100%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    vertical-align: middle;
    border-radius: 3px;
    padding: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/*  */
.msg_sound_only, .sound_only {
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	font-size: 0 !important;
	line-height: 0 !important;
	overflow: hidden;
}
/*  */
.fh5co-nav {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1001;
  top: 0;
  padding:0px 0;
	background: rgb(0,0,0,0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-nav .no_width {
	width:100%;
	padding:0;
}
.fh5co-nav .header-wrap {
	position:relative;
	padding:0;
}
.fh5co-nav .header-wrap .header_wr {
	width:100%;
	padding: 0 100px;
}
.fh5co-nav #head-logo {
  width:15%;
  line-height:90px;
  float:left;
}
.fh5co-nav #head-logo img {
  width:100%;
}
.fh5co-nav .top-menu {
	overflow:hidden;
}
.fh5co-nav .top-menu ul {
	margin:0;
}
.fh5co-nav .top-menu .left_util{
	float:right;
	border:0;
	background:0;
	height:90px;
	line-height:90px;
	color:#fff;
	font-size:18px;
	text-align: center;
	display: block;
}

.fh5co-nav .top-menu .top_txt{
	font-size:12px;
	color:#fff;
	padding:0 10px 0 5px;
}

/*************상단 미디어커리************/
@media screen and (max-width: 1200px) {
	.fh5co-nav .header-wrap .header_wr {width:100%; padding: 0;}
	.fh5co-nav #head-logo { margin-left: 10px;} 
}

@media screen and (max-width: 992px) {
	
	.fh5co-nav #head-logo { padding-left: 10px;}
}

@media screen and (max-width: 768px) {
	.fh5co-nav {
		position: absolute;
		padding:0px 0;
	}
	.fh5co-nav .header-wrap { 
		background:none;
		height:70px;
	}
	.fh5co-nav #head-logo {
		width:230px;
		margin:13px 0px;
	}
	.fh5co-nav #head-logo img {
		width:70%;
		}
}
/***********************************/
.fh5co-nav.scrolled {
/*   background: linear-gradient(90deg, rgba(133,191,76,0.7) 0%, rgba(72,177,186,0.7) 100%); */
  top: -90px;
  padding:0px 0;
  background:#000;
}
.fh5co-nav.scrolled #head-logo{
	display:none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	.fh5co-nav.scrolled {
		
	}
}
@media screen and (max-width: 480px) {
	.fh5co-nav.scrolled {
		background: linear-gradient(
90deg
, rgba(133,191,76,0.7) 0%, rgba(72,177,186,0.7) 100%);
	}
}

.scrolled .fh5co-nav #head-logo {
  color: #000 !important;
}
.fh5co-nav #head-logo a {
}
.scrolled .fh5co-nav #head-logo a {
  color: #000 !important;
}
.fh5co-nav #head-logo a span {
  color: #2e8d24;
}
@media screen and (max-width: 768px) {
	.fh5co-nav .header-wrap {
		background-color:initial;
	}
	.fh5co-nav .menu-1 {
		display: none;
	}
	.fh5co-nav #head-logo {
		line-height:inherit;
	}
}

.fh5co-nav .menu-wrap {
	margin:17px auto;
	/* float:right; */
/* 	margin-right: 15px; */
}
.fh5co-nav .menu-wrap ul {
  margin: 0;
  text-align:center;
  line-height: 90px;
}
.fh5co-nav .menu-wrap ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
/*
.fh5co-nav ul li:after {
	content:'';
	width:2px;
	height:15px;
	background:#fff;
	display:inline-block;
}
*/
.fh5co-nav .menu-wrap ul li span {
	width:1px;
	height:13px;
	display:inline-block;
	background:#fff;
}
.fh5co-nav .menu-wrap ul li > a {
	text-transform: uppercase;
	letter-spacing: -1px;
	font-size: 18px;
	padding:20px 20px;
	text-shadow: 1px 1px 2px #5f5f5f;
}
.fh5co-nav .menu-wrap ul li:last-child > a {
	padding:20px 0px 20px 15px;
}
.fh5co-nav .menu-wrap ul li a {
	color: rgba(255, 255, 255, 1);
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.pc_view img {
  width: 17%;
}

.fh5co-nav #scroll-menu {
	display:none;
}
.fh5co-nav.scrolled #scroll-menu{
	display:block;
}
.fh5co-nav.scrolled #scroll-menu.menu-wrap{
	margin:0px auto;
	padding:0;
}
@media screen and (max-width: 969px) { 
	.fh5co-nav .menu-wrap ul li > a { padding: 20px 10px; font-size: 16px;}
}

@media screen and (max-width: 768px) {
	.fh5co-nav.scrolled #scroll-menu{
		display:none;;
	}
}

.scrolled .fh5co-nav ul li a {
  color: rgba(0, 0, 0, 0.7);
}
.fh5co-nav ul li a:hover, .fh5co-nav ul li a:focus, .fh5co-nav ul li a:active {
  color: white;
}
.scrolled .fh5co-nav ul li a:hover, .scrolled .fh5co-nav ul li a:focus, .scrolled .fh5co-nav ul li a:active {
  color: black;
}
.fh5co-nav ul li.has-dropdown {
  position: relative;
}
.fh5co-nav ul li.has-dropdown .dropdown {
  width: 140px;
  -webkit-box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 16px -9px rgba(0, 0, 0, 0.75);
  z-index: 1002;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 25px;
  left: 0;
  text-align: center;
  background: #3e3e3e;
  padding: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}
.fh5co-nav ul li.has-dropdown .dropdown:before {
  bottom: 100%;
  left: 40px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #3e3e3e;
  border-width: 8px;
  margin-left: -8px;
}
.fh5co-nav ul li.has-dropdown .dropdown li {
  display: block;
  margin-bottom: 7px;
}
.fh5co-nav ul li.has-dropdown .dropdown li:last-child {
  margin-bottom: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a {
  font-size: 14px;
  font-weight:100;
  padding: 2px 0;
  display: block;
  color: white;
  line-height: 1.2;
  text-transform: none;
  letter-spacing: 0;
}
.fh5co-nav ul li.has-dropdown .dropdown li a:hover {
  color: #fff;
}
.fh5co-nav ul li.has-dropdown:hover a, .fh5co-nav ul li.has-dropdown:focus a {
  color: #fff;
}
.scrolled .fh5co-nav ul li.has-dropdown:hover a, .scrolled .fh5co-nav ul li.has-dropdown:focus a {
  color: rgba(0, 0, 0, 0.7);
}
.fh5co-nav ul li.active > a {
  color: #fff;
  position: relative;
}
.scrolled .fh5co-nav ul li.active > a {
  color: rgba(0, 0, 0, 0.7);
}
.fh5co-nav ul li.active > a:after {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  content: '';
  width: 30px;
  height: 2px;
  background: #2e8d24;
  margin: 0 auto;
}



#fh5co-counter,
.fh5co-bg,
#fh5co-gallery .fh5co-bg-img,
#fh5co-gallery .fh5co-gallery_big,
.product {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

#fh5co-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-image: url(../../tasty/images/visual.html);
}
@media screen and (max-width: 768px) {
  #fh5co-header {
    background-position: center center !important;
    background-attachment: scroll;
  }
}
#fh5co-header .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  #fh5co-header,
  .fh5co-cover {
    padding: 3em 0;
  }
}
#fh5co-header .display-t,
.fh5co-cover .display-t {
  display: table;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-t,
  .fh5co-cover .display-t {
    padding: 3em 0;
  }
}
#fh5co-header .display-tc,
.fh5co-cover .display-tc {
  display: table-cell !important;
  vertical-align: middle;
  width: 100%;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc,
  .fh5co-cover .display-tc {
    padding: 3em 0;
	height:100% !important;
  }
}

#fh5co-header .display-tc h1, #fh5co-header .display-tc h2,
.fh5co-cover .display-tc h1,
.fh5co-cover .display-tc h2 {
  margin: 0;
  padding: 0;
  color: white;
}
#fh5co-header .display-tc h1,
.fh5co-cover .display-tc h1 {
  margin-bottom: 0px;
  font-size: 50px;
  font-weight: 700;
}
#fh5co-header .display-tc h1 em,
.fh5co-cover .display-tc h1 em {
  font-style: italic;
  font-weight: 600;
}
#fh5co-header .display-tc h2,
.fh5co-cover .display-tc h2 {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
  letter-spacing:-1px;
}
#fh5co-header .display-tc h3,
.fh5co-cover .display-tc h3 {
  color:#fff;
  font-size:18px;
  font-weight:100;
}
#fh5co-header .display-tc h2 a,
.fh5co-cover .display-tc h2 a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  color: #fff;
  position: relative;
}
#fh5co-header .display-tc h2 a:before,
.fh5co-cover .display-tc h2 a:before {
  background: #2e8d24;
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}
#fh5co-header .display-tc .btn,
.fh5co-cover .display-tc .btn {
  padding: 10px 30px;
  color: #fff;
  border: none !important;
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc h1,
  .fh5co-cover .display-tc h1 {
    font-size: 25px;
  }
  #fh5co-header .display-tc h2,
  .fh5co-cover .display-tc h2 {
	font-size:15px;
	margin-bottom:15px;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-header .display-tc .btn,
  .fh5co-cover .display-tc .btn {
    width: 80%;
    margin: 0 auto;
  }
}
#fh5co-header .display-tc .btn.btn-learn,
.fh5co-cover .display-tc .btn.btn-learn {
  background: #fee856;
  border: none;
  color: #000 !important;
}
#fh5co-header .display-tc .btn.btn-learn:hover, #fh5co-header .display-tc .btn.btn-learn:focus,
.fh5co-cover .display-tc .btn.btn-learn:hover,
.fh5co-cover .display-tc .btn.btn-learn:focus {
  background: rgba(254, 232, 86, 0.9) !important;
  color: #000 !important;
}
#fh5co-header .display-tc .btn:hover, #fh5co-header .display-tc .btn:focus,
.fh5co-cover .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:focus {
  color: #fff !important;
}
#fh5co-header .display-tc .btn.btn-demo,
.fh5co-cover .display-tc .btn.btn-demo {
  background: #2e8d24;
  border: none;
}
#fh5co-header .display-tc .btn.btn-demo:hover, #fh5co-header .display-tc .btn.btn-demo:focus,
.fh5co-cover .display-tc .btn.btn-demo:hover,
.fh5co-cover .display-tc .btn.btn-demo:focus {
  background: rgba(234, 39, 45, 0.9) !important;
  color: #fff !important;
}
#fh5co-header .display-tc .btn:hover,
.fh5co-cover .display-tc .btn:hover {
  background: #2e8d24 !important;
  -webkit-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  -moz-box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
  box-shadow: 0px 14px 30px -15px rgba(0, 0, 0, 0.75) !important;
}
#fh5co-header .display-tc .form-inline .form-group,
.fh5co-cover .display-tc .form-inline .form-group {
  width: 100% !important;
  margin-bottom: 10px;
}
#fh5co-header .display-tc .form-inline .form-group .form-control,
.fh5co-cover .display-tc .form-inline .form-group .form-control {
  width: 100%;
  background: #fff;
  border: none;
}

.fh5co-section {
  padding: 0em 0;
}
@media screen and (max-width: 480px) {
  .fh5co-section {
    padding: 0em 0;
  }
}
.fh5co-section p {
  font-size: 15px;
  line-height: 1.5;
  letter-spacing:0px;
  margin-bottom:20px;
}

.section-heading {
  width: 100%;
  float: left;
  margin-bottom: 0px;
}
.section-heading h2 {
  color: #000;
  font-size:23px;
}
.section-heading p {
  color: rgba(0, 0, 0, 1);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0px;
  margin-bottom: 30px;
}
.section-heading p:last-child {
  margin-bottom:0;
}

#fh5co-about .img-wrap img {
  margin-bottom: 30px;
}
@media screen and (max-width: 992px) {
  #fh5co-about .img-wrap img {
    max-width: 100%;
  }
}

#fh5co-featured-menu .fh5co-heading, #fh5co-gallery .fh5co-heading, #fh5co-reservation-form .fh5co-heading {
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  #fh5co-featured-menu .fh5co-heading, #fh5co-gallery .fh5co-heading, #fh5co-reservation-form .fh5co-heading {
    margin-bottom: 50px;
  }
}
#fh5co-featured-menu .main_logo {
	width:200px;
	margin:0 auto;
}
#fh5co-featured-menu .main_logo img {
	width:100%;
}
#fh5co-featured-menu .info_wrap {
	margin:50px 0;
	overflow:hidden;
}
#fh5co-featured-menu .fh5co-heading h2, #fh5co-gallery .fh5co-heading h2, #fh5co-reservation-form .fh5co-heading h2 {
  color: #000;
}
#fh5co-featured-menu .fh5co-item-wrap, #fh5co-gallery .fh5co-item-wrap, #fh5co-reservation-form .fh5co-item-wrap {
  padding-left: 10px;
  padding-right: 10px;
}
#fh5co-featured-menu .fh5co-item, #fh5co-gallery .fh5co-item, #fh5co-reservation-form .fh5co-item {
  float: left;
  width: 100%;
  background: #fff;
}
#fh5co-featured-menu .fh5co-item .txt_box {
	padding:25px 0px;
	background:#f1f1f1;
	text-align:center;
}

#fh5co-featured-menu .fh5co-item span {
  color:#000;
}
/*
#fh5co-featured-menu .fh5co-item p {
  font-size:20px;
  font-weight:bold;
  color:#000;
}
*/
#fh5co-featured-menu .fh5co-item p.btxt {
	font-size:20px;
	font-weight:bold;
	padding-top:5px;
}
#fh5co-featured-menu .fh5co-item.c-01 p.btxt {
	color:#487812;
}
#fh5co-featured-menu .fh5co-item.c-02 p.btxt {
	color:#0b0b42;
}
#fh5co-featured-menu .fh5co-item.c-03 p.btxt {
	color:#f18d96;
}
#fh5co-featured-menu .fh5co-item.c-04 p.btxt {
	color:#634f98;
}
#fh5co-featured-menu .fh5co-item p.ctxt {
	font-size:13px;
	font-weight:500;
	color:#999;
	margin:20px 0;
}
#fh5co-featured-menu .fh5co-item p.more {
	display:inline-block;
	font-size:13px;
	font-weight:300;
	color:#999;
	border-bottom:1px solid #999;
	margin:0;
	vertical-align:top
}
#fh5co-featured-menu .fh5co-item.margin_top, #fh5co-gallery .fh5co-item.margin_top, #fh5co-reservation-form .fh5co-item.margin_top {
  margin-top: 150px;
}
@media screen and (max-width: 768px){
	#fh5co-featured-menu .main_logo {
		width:130px;
	}
	#fh5co-featured-menu .info_wrap {
		margin:35px 20px;
	}
	#fh5co-featured-menu .fh5co-item .txt_box {
		padding:20px 0;
	}
}
@media screen and (max-width: 480px) {
  #fh5co-featured-menu .fh5co-item.margin_top, #fh5co-gallery .fh5co-item.margin_top, #fh5co-reservation-form .fh5co-item.margin_top {
    margin-top: 0;
  }
}
#fh5co-featured-menu .fh5co-item h3, #fh5co-gallery .fh5co-item h3, #fh5co-reservation-form .fh5co-item h3 {
  margin-bottom: 0px;
  color: #000;
}
#fh5co-featured-menu .fh5co-item .fh5co-price, #fh5co-gallery .fh5co-item .fh5co-price, #fh5co-reservation-form .fh5co-item .fh5co-price {
  font-style: 20px;
  color: #fee856;
  margin-bottom: 20px;
  font-size: 30px;
  display: block;
}
#fh5co-featured-menu .fh5co-item img, #fh5co-gallery .fh5co-item img, #fh5co-reservation-form .fh5co-item img {
  margin-bottom: 0px;
}

#fh5co-life {
	position:relative;
    z-index:1;
	padding:100px 0;
}
#fh5co-life:before {
	background:url(../../tasty/images/life_bg.html) no-repeat;
    top:0;
    left:0;
    position:absolute;
    background-size:cover;
	background-position:center;
    opacity:0.5!important;
    filter:alpha(opacity=50);
    z-index:-1;
    content:"";
    width:100%;
    height:100%;
}
#fh5co-life .col-md-8 {
	float:none;
}
#fh5co-life h2 {
	font-weight:bold;
}
#fh5co-life  .life_wrap{
	overflow:hidden;
	margin-top:50px;
}
#fh5co-life .life_wr {
	padding:10px;
}
#fh5co-life .txt_box {
	background:#fff;
	text-align:center;
	padding:30px;
	box-shadow:5px 5px 7px rgba(0,25,47,0.3);
	opacity:0.9;
}
#fh5co-life .txt_box span {
	text-transform: uppercase;
	font-weight:bold;
}
#fh5co-life .txt_box h3 {
	font-size:25px;
	font-weight:bold;
	padding-top:10px;
	-webkit-transition: 0.5s;
	  -o-transition: 0.5s;
	  transition: 0.5s;
}
#fh5co-life .txt_box:hover h3 {
	color:#2e8d24;
}
#fh5co-life .txt_box p {
	margin-bottom:0;
	color:333;
	font-family:NanumSquare, AppleSDGothicNeo-Regular, "Malgun Gothic", "맑은 고딕", dotum, 돋움, serif;
}

@media screen and (max-width: 768px){
	#fh5co-life {
		padding:50px 0;
	}
	#fh5co-life:before {
		background-position:center left 40%;
	}
	#fh5co-life .txt_box {
		padding:20px;
	}
	#fh5co-life .txt_box h3 {
		margin:0 0 10px 0;
	}
}

#fh5co-gallery .fh5co-gallery_item {
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
}
#fh5co-gallery .fh5co-bg-img, #fh5co-gallery .fh5co-gallery_big {
  float: left;
  margin-bottom: 20px;
  background-size: cover;
  cursor: zoom-in;
}
#fh5co-gallery .fh5co-bg-img {
  height: 200px;
}
#fh5co-gallery .fh5co-gallery_big {
  height: 420px;
}
@media screen and (max-width: 768px) {
  #fh5co-gallery .fh5co-gallery_big {
    height: 200px;
  }
}

#form-wrap {
  border: 4px solid rgba(0, 0, 0, 0.04);
  padding: 30px;
}
#form-wrap .form-group:last-child {
  margin-bottom: 0 !important;
}

#fh5co-featured-testimony {
  border: none !important;
}
#fh5co-featured-testimony .fh5co-heading {
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  #fh5co-featured-testimony .fh5co-heading {
    margin-bottom: 50px;
  }
}
#fh5co-featured-testimony .fh5co-heading h2 {
  color: #000;
  font-family: "Satisfy", cursive;
}
#fh5co-featured-testimony .img-to-responsive img {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  #fh5co-featured-testimony .img-to-responsive img {
    max-width: 100%;
  }
}
#fh5co-featured-testimony blockquote {
  border: none;
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 992px) {
  #fh5co-featured-testimony blockquote {
    margin-top: 0;
  }
}
#fh5co-featured-testimony blockquote p {
  font-size: 40px;
  line-height: 50px;
  font-style: italic;
  font-weight: 300;
  color: #000;
}
@media screen and (max-width: 992px) {
  #fh5co-featured-testimony blockquote p {
    font-size: 30px;
    line-height: 40px;
  }
}
#fh5co-featured-testimony blockquote .author {
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
}
@media screen and (max-width: 992px) {
  #fh5co-featured-testimony blockquote .author {
    color: rgba(0, 0, 0, 0.3);
  }
}

#fh5co-slider .fh5co-heading h2 {
  font-family: "Satisfy", cursive;
  color: #000;
}

#fh5co-slider-wrwap {
  height: 500px !important;
  background: url(../images/loader.gif) no-repeat center center;
}
#fh5co-slider-wrwap .btn {
  font-size: 24px;
}
#fh5co-slider-wrwap .btn.btn-primary {
  padding: 14px 30px !important;
}
#fh5co-slider-wrwap .flexslider {
  border: none;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-slider-wrwap .flexslider .slides {
  position: relative;
}
#fh5co-slider-wrwap .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 600px !important;
  position: relative;
}
#fh5co-slider-wrwap .flexslider .slides .slides_bn1 {
	background-image: url(../../tasty/images/slides_bn1.html);
}
#fh5co-slider-wrwap .flexslider .slides .slides_bn2 {
	background-image: url(../../tasty/images/slides_bn2.html);
}
#fh5co-slider-wrwap .flexslider .slides .slides_bn3 {
	background-image: url(../../tasty/images/slides_bn3.html);
}
#fh5co-slider-wrwap .flexslider .flex-control-nav {
  top: -30px !important;
  z-index: 1000;
  right: 0;
  float: right;
  width: auto;
}
#fh5co-slider-wrwap .flexslider .flex-control-nav li {
  margin-bottom: 10px;
}
#fh5co-slider-wrwap .flexslider .flex-control-nav li a {
  background: #2e8d24;
  box-shadow: none;
  width: 12px;
  height: 12px;
  cursor: pointer;
  border: 2px solid transparent;
}
#fh5co-slider-wrwap .flexslider .flex-control-nav li a.flex-active {
  cursor: pointer;
  background: transparent;
  background: #f1f1f1;
}
#fh5co-slider-wrwap .flexslider .flex-direction-nav {
  display: none;
}
#fh5co-slider-wrwap .flexslider .slider-text-bg {
  margin-left: -150px;
}
#fh5co-slider-wrwap .flexslider .slider-text-bg .desc {
  margin-top: 9em;
  padding: 2.5em;
  background: transparent;
}
#fh5co-slider-wrwap .flexslider .slider-text-bg .desc h2 {
  margin-bottom:0px;
  font-size:23px;
  color:#fff;
}
@media screen and (max-width: 992px) {
  #fh5co-slider-wrwap .flexslider .slider-text-bg .desc {
    background: rgba(0, 0, 0, 0.5);
  }
}
@media screen and (max-width: 768px) {
  #fh5co-slider-wrwap .flexslider .slider-text-bg .desc p {
    display: none;
  }
}
#fh5co-slider-wrwap .flexslider .slider-text,
#fh5co-slider-wrwap .flexslider .slider-text-bg {
  display: table;
  opacity: 0;
  height: 600px;
  z-index: 9;
}
#fh5co-slider-wrwap .flexslider .slider-text > .slider-text-inner,
#fh5co-slider-wrwap .flexslider .slider-text-bg > .slider-text-inner {
  display: table-cell;
  vertical-align: middle;
  min-height: 500px;
}

@media screen and (max-width: 992px) {
  #fh5co-slider-wrwap {
	height:450px !important;
  }
  #fh5co-slider-wrwap .flexslider .slider-text-bg {
    margin-left: 0px;
  }
  #fh5co-slider-wrwap .flexslider .slides li {
	height:450px !important;
  }
  #fh5co-slider-wrwap .flexslider .slider-text, #fh5co-slider-wrwap .flexslider .slider-text-bg {
	height:450px;
  }
}

.fh5co-bg-section {
  background: rgba(234, 39, 45, 0.03);
}

#fh5co-slider,
#fh5co-about,
#fh5co-wireframe,
#fh5co-started,
#fh5co-portfolio,
#fh5co-blog,
#fh5co-content-section,
#fh5co-contact {
  padding: 4em 0;
  clear: both;
}

#fh5co-footer {
  clear: both;
  padding:0em 0em;
  font-size:15px;
}

@media screen and (max-width: 768px) {
  #fh5co-slider,
  #fh5co-about,
  #fh5co-wireframe,
  #fh5co-started,
  #fh5co-portfolio,
  #fh5co-blog,
  #fh5co-content-section,
  #fh5co-contact{
    padding: 3em 0;
  }

  #fh5co-footer {
    padding: 0em 0;
  }
}

#fh5co-content {
  border-bottom: 2px solid rgba(234, 39, 45, 0.1);
}

#fh5co-started {
  border-bottom: none;
}

.fh5co-social-icons {
  margin: 0;
  padding: 0;
}
.fh5co-social-icons li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #2e8d24;
  padding-left: 10px;
  padding-right: 10px;
}
.fh5co-social-icons li a i {
  font-size: 20px;
}

#fh5co-started {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  width: 100%;
}
#fh5co-started .overlay {
  z-index: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}
#fh5co-started .fh5co-heading {
  margin-bottom: 0;
}
#fh5co-started .fh5co-heading h2 {
  font-family: "Satisfy", cursive;
  color: #fff;
  margin-bottom: 20px !important;
}
#fh5co-started .fh5co-heading p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
}
#fh5co-started .fh5co-heading p:last-child {
  margin-bottom:0;
}

.member {
  width: 100%;
  float: left;
}
.member .author {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 400px;
}
.member .desc {
  width: 80%;
  margin: 0 auto;
  margin-top: 4em;
}
.member .desc h3 {
  margin-bottom: 10px;
}
.member .desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);
}

#fh5co-blog .fh5co-heading, #fh5co-contact .fh5co-heading {
  margin-bottom: 170px;
}
@media screen and (max-width: 768px) {
  #fh5co-blog .fh5co-heading, #fh5co-contact .fh5co-heading {
    margin-bottom: 50px;
  }
}
#fh5co-blog .fh5co-heading h2, #fh5co-contact .fh5co-heading h2 {
  font-family: "Satisfy", cursive;
  color: #000;
}

.fh5co-blog {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog {
    width: 100%;
  }
}
.fh5co-blog .blog-bg {
  display: block;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-blog .blog-bg {
    height: 400px;
  }
}
.fh5co-blog .blog-text {
  margin-bottom: 30px;
  position: relative;
  width: 100%;
  padding: 30px;
  float: left;
  background: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.fh5co-blog .blog-text span {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 14px !important;
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-blog .blog-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.fh5co-blog .blog-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: #000;
}
.fh5co-blog .blog-text .stuff li:first-child {
  margin-left: 0;
}
.fh5co-blog .blog-text .stuff li:last-child {
  float: right;
}
.fh5co-blog .blog-text .stuff li:last-child i {
  padding-right: 0;
  padding-left: 10px;
}
.fh5co-blog .blog-text .stuff li i {
  margin-top: 7px;
  margin-right: 5px;
  color: rgba(0, 0, 0, 0.5);
  float: left;
  font-size: 14px;
  padding-right: 5px;
}
.fh5co-blog .blog-text h3 {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.fh5co-blog .blog-text h3 a {
}

.fh5co-portfolio {
  width: 100%;
  float: left;
  margin-bottom: 40px;
}
.fh5co-portfolio > a {
  width: 100%;
  float: left;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
.fh5co-portfolio > a:hover {
  webkit-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 8px 16px -4px rgba(0, 0, 0, 0.13);
}
.fh5co-portfolio .portfolio-entry {
  width: 100%;
  float: left;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  height: 300px;
}
@media screen and (max-width: 768px) {
  .fh5co-portfolio .portfolio-entry {
    height: 400px;
  }
}
.fh5co-portfolio .portfolio-text {
  width: 100%;
  float: left;
  padding: 20px;
}
.fh5co-portfolio .portfolio-text .stuff {
  margin: 0;
  padding: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding-top: 20px;
}
.fh5co-portfolio .portfolio-text .stuff li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}
.fh5co-portfolio .portfolio-text .stuff li:first-child {
  margin-left: 0;
}
.fh5co-portfolio .portfolio-text .stuff li:last-child {
  float: right;
}
.fh5co-portfolio .portfolio-text .stuff li i {
  font-size: 14px;
  padding-right: 5px;
}

.fh5co-team {
  position: relative;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.06);
}
@media screen and (max-width: 768px) {
  .fh5co-team {
    border-right: 0;
    margin-bottom: 80px;
  }
}
.fh5co-team h2 {
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 50px;
}
.fh5co-team figure {
  position: relative;
  top: 0px;
  background-size: cover;
  margin-bottom: 20px;
}
.fh5co-team figure img {
  width: 150px;
  height: 150px;
  border: 10px solid #fff;
  background-size: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.fh5co-team > div {
  padding: 30px 30px 0 30px;
}
.fh5co-team > div h3 {
  margin-bottom: 0;
  font-size: 20px;
  color: #2e8d24;
}
.fh5co-team > div .position {
  color: #d9d9d9;
  margin-bottom: 30px;
}
.fh5co-team > div,
.fh5co-team blockquote {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}
.fh5co-team > div p,
.fh5co-team blockquote p {
  font-size: 16px;
  line-height: 1.5;
  color: #555555;
}
.fh5co-team span {
  color: #b3b3b3;
}

#fh5co-footer .fh5co-footer-links {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-footer-links {
    margin-bottom: 30px;
  }
}
#fh5co-footer .fh5co-footer-links li {
  padding: 0;
  margin: 0;
  list-style: none;
  color: rgba(0, 0, 0, 0.5);
}
#fh5co-footer .fh5co-footer-links li a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
#fh5co-footer .fh5co-footer-links li a:hover {
  text-decoration: underline;
  color: #2e8d24;
}
#fh5co-footer .fh5co-widget {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer .fh5co-widget {
    text-align: left;
  }
}
#fh5co-footer .fh5co-widget h4 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  letter-spacing: 1px;
}
#fh5co-footer .block {
  display: block;
  margin-top:20px;
}

.contact-info {
  margin-bottom: 4em;
  padding: 0;
}
.contact-info li {
  list-style: none;
  margin: 0 0 20px 0;
  position: relative;
  padding-left: 40px;
  color: #fff;
}
.contact-info li i {
  position: absolute;
  top: .3em;
  left: 0;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.3);
}
.contact-info li a {
  color: #fff;
}

#fh5co-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: #000 url(../images/broken_noise.png) repeat;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #fh5co-offcanvas {
    background-color: #000;
  }
}
@media screen and (max-width: 768px) {
  #fh5co-offcanvas {
    display: block;
  }
}
.offcanvas #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}
#fh5co-offcanvas a {
  color: rgba(255,255,255, 0.8);
}
#fh5co-offcanvas a:hover {
  color: rgba(255, 255, 255, 0.8);
}
#fh5co-offcanvas ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom:20px;
}
#fh5co-offcanvas ul li:first-child {
  margin-top:20px;
}
#fh5co-offcanvas ul li:last-child {
  margin-bottom:20px;
}
#fh5co-offcanvas ul.member li:first-child {
  margin-top:10px;
}
#fh5co-offcanvas ul.member li:last-child {
  margin-bottom:20px;
}
#fh5co-offcanvas ul li > ul {
  padding-left: 20px;
  display: none;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a {
  display: block;
  position: relative;
  color: #fff;
  font-size: 16px;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown > a:after {
  position: absolute;
  right: 0px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ebfc";
  font-size: 14px;
  color: rgba(255, 255, 255, 0.2);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  top: 3px;
}
#fh5co-offcanvas ul li.offcanvas-has-dropdown.active a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.uppercase {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.gototop.active {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.gototop a i {
  height: 50px;
  display: table-cell;
  vertical-align: middle;
}
.gototop a:hover, .gototop a:active, .gototop a:focus {
  text-decoration: none;
  outline: none;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  top: 18px !important;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #444;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  color: #252525;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #252525;
  transition: all .2s ease-out;
  margin: 5px 0;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 30px;
  height: 2px;
  background: #252525;
  position: absolute;
  left: 0;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle.fh5co-nav-white > i {
  color: #fff;
  background: #fff;
}
.fh5co-nav-toggle.fh5co-nav-white > i::before, .fh5co-nav-toggle.fh5co-nav-white > i::after {
  background: #fff;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff;
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff;
}

.fh5co-nav-toggle {
  position: absolute;
  right: 10px;
  top: 65px;
  z-index: 21;
  padding: 8px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
	position:fixed;
    display: block;
  }
}

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 0px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px;
  color:#000;
}
.btn.btn-md {
  padding: 8px 20px !important;
}
.btn.btn-lg {
  padding: 10px 36px !important;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: none !important;
  outline: none !important;
}

.btn-primary {
  background: #2e8d24;
  color: #fff;
  border: 2px solid #2e8d24;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background: #2e8d24 !important;
  border-color: #2e8d24 !important;
}
.btn-primary.btn-outline {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
  background: transparent;
  color: #000;
  text-transform: uppercase;
  font-size: 13px !important;
  letter-spacing: 1px;
  border: 2px solid #2e8d24;
}
.btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
  background: #2e8d24;
  color: #fff;
}

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c;
}
.btn-success:hover, .btn-success:focus, .btn-success:active {
  background: #4cae4c !important;
  border-color: #4cae4c !important;
}
.btn-success.btn-outline {
  background: transparent;
  color: #5cb85c;
  border: 2px solid #5cb85c;
}
.btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
  background: #5cb85c;
  color: #fff;
}

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de;
}
.btn-info:hover, .btn-info:focus, .btn-info:active {
  background: #46b8da !important;
  border-color: #46b8da !important;
}
.btn-info.btn-outline {
  background: transparent;
  color: #5bc0de;
  border: 2px solid #5bc0de;
}
.btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
  background: #5bc0de;
  color: #fff;
}

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e;
}
.btn-warning:hover, .btn-warning:focus, .btn-warning:active {
  background: #eea236 !important;
  border-color: #eea236 !important;
}
.btn-warning.btn-outline {
  background: transparent;
  color: #f0ad4e;
  border: 2px solid #f0ad4e;
}
.btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
  background: #f0ad4e;
  color: #fff;
}

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f;
}
.btn-danger:hover, .btn-danger:focus, .btn-danger:active {
  background: #d43f3a !important;
  border-color: #d43f3a !important;
}
.btn-danger.btn-outline {
  background: transparent;
  color: #d9534f;
  border: 2px solid #d9534f;
}
.btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
  background: #d9534f;
  color: #fff;
}

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  box-shadow: none;
}

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.with-arrow i {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
.btn.with-arrow:hover {
  padding-right: 50px;
}
.btn.with-arrow:hover i {
  color: #fff;
  right: 18px;
  visibility: visible;
  opacity: 1;
}

.form-group {
  margin-bottom: 30px !important;
}
.form-group label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.3);
  height: 54px;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Noto Sans KR', Georgia, serif;
  color: #fff;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #fff;
}

textarea {
  resize: vertical;
  overflow: auto;
}

.row-pb-md {
  padding-bottom: 4em !important;
}

.row-pb-sm {
  padding-bottom: 2em !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.fh5co-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../images/loader.gif) center no-repeat #fff;
}

.js .animate-box {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.bootstrap-datetimepicker-widget {
  color: #000 !important;
}

/*# sourceMappingURL=style.css.map */

.n_pa { padding-left:0; padding-right:0; }

/* 인덱스 */
.index {
	position:relative;
	overflow:hidden;
}
.main_txt_wr { 
	text-align:center; 
	margin:30px 0;
}
.main_con_tit { s
	font-size:35px;
	font-weight:900;
}
.main_con_detail {
	font-size:20px;
}


.full_bn_wrap {
	position:relative;
	overflow:hidden;s
	width:100%;
	margin-top:30px;
}
.full_bn_wrap .full_wr {
	width:50%;
	float:left;
}
.full_bn_wrap .full_wr .full_txt {
	color:#fff;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}
.full_bn_wrap .full_wr:hover .full_txt {
	opacity:0.9;

}
.full_bn_wrap .full_wr .full_txt .full_tit {
	position:relative;
	font-size:30px;
	font-weight:bold;
	padding-bottom:30px;
	margin-bottom:30px;
}
.full_bn_wrap .full_wr .full_txt .full_detail {
	font-size:17px;
}

.full_bn_wrap .left_bn {
	background:url(../images/full_bn02.jpg) no-repeat center center; 
	background-size:cover;
}
.full_bn_wrap .left_bn .full_txt {
	float:right;
	text-align:right;
	background:rgba(26,141,207,0.5);
	margin:130px 0 50px;
	padding:30px 40px 30px 150px;
}
.full_bn_wrap .left_bn:hover .full_txt {
	background:rgba(26,141,207,0.9);
	padding:30px 95px;
}
.full_bn_wrap .left_bn .full_txt .full_tit:after {
	content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 50px;
    height: 1px;
    background: #fff;
}

.full_bn_wrap .right_bn {
	background:url(../images/full_bn01.jpg) no-repeat center center;
	background-size:cover;
}
.full_bn_wrap .right_bn .full_txt {
	float:left;
	text-align:left;
	background:rgba(3,54,146,0.5);
	margin:50px 0 130px;
	padding:30px 150px 30px 40px;
}
.full_bn_wrap .right_bn:hover .full_txt {
	background:rgba(3,54,146,0.9);
	padding:30px 95px;
}
.full_bn_wrap .right_bn .full_txt .full_tit:after {
	content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 50px;
    height: 1px;
    background: #fff;
}

.main_info_bg { background:#f1f1f1; }
.main_info{max-width:1200px; margin:0 auto; padding:20px 0px}
.main_info:after {display:block;visibility:hidden;clear:both;content:""}
.main_info .location { float:left; width:50%; padding:20px;}

#main_contact{float:left;width:50%;padding:20px;color:#000;}
.main_con { overflow:hidden; margin-top:30px; text-align:center; }

#main_contact p{color:#000; font-size:20px; font-weight:600; line-height:60px;}
#main_contact i{font-size:23px; line-height:45px; color:#000; position:relative; z-index:2; float:left;}
#main_contact li { font-size:18px; line-height:45px; }
#main_contact li:after {display:block;visibility:hidden;clear:both;content:""}
#main_contact .time{position:relative}
#main_contact .time:before{content:'';position:absolute;top:50%;left:0;width:100%;height:1px ;background-image: linear-gradient(90deg, #666 25%, #222222 25%, #222222 50%, #666 50%, #666 75%, #222222 75%, #222222 100%);
background-size: 8.00px 8.00px;;z-index:0}
#main_contact .text{background:#222;padding-right:10px;z-index:2;display:inline-block;line-height:30px;position:relative}
#main_contact .num{background:#222;float:right;padding-left:10px;z-index:2;display:inline-block;line-height:30px;position:relative}
#main_contact a{display:block; text-align:center; background: #2e8d24; color: #fff; margin-top:20px; line-height:45px; font-weight: 300;}

@media (max-width: 969px){
	.main_info {padding:20px 0}
	.main_info .location, #ft_contact{ width:100%; }
	#main_contact{ width:100%; padding:0 30px;}
	#main_contact p { font-size:13px; margin-bottom:0; }
	#main_contact i { font-size:18px; line-height:30px; }
	#main_contact li { font-size:15px; line-height:30px;  }
	
	.main_con { margin-top:10px; }
}


@media (max-width: 969px){
	.main_txt_wr {
		margin:15px 0; 
	}
	.main_con_tit { 
		font-size:25px;
		font-weight:bold;
	}
	.main_con_detail {
		font-size:16px;
	}

	.full_bn_wrap .full_wr {
		width:100%;
	}
	.full_bn_wrap .full_wr .full_txt .full_tit {
		font-size:23px;
		padding-bottom:15px;
		margin-bottom:15px;
	}
	.full_bn_wrap .full_wr .full_txt .full_detail {
		font-size:15px;
	}

	.full_bn_wrap .left_bn .full_txt {
		margin: 50px 0 30px;
		padding: 30px 20px 30px 50px;
	}

	.full_bn_wrap .right_bn .full_txt {
		margin:20px 0 50px;
		padding:30px 50px 30px 20px;
	}
	.full_bn_wrap .right_bn:hover .full_txt, .full_bn_wrap .left_bn:hover .full_txt {
		padding:30px 60px;
	}

}

/* 하단 레이아웃 */
#ft { background:#fff; /*border-top:1px solid #d8d8d8;*/}
.ft_wr_bg { width:100%; background:#000; }
.ft_wr { max-width:1200px; margin:0 auto; text-align:left; padding:2.5% 0px;}
.ft_wr:after {display:block;visibility:hidden;clear:both;content:""}
.ft_logo { float:left; padding: 50px 10px;}
.ft_logo img { width:100%; opacity:0.8; }
#ft_copy { font-weight:400; font-size:13px; float:left; margin-left:10%; padding-top: 30px;}
#ft h1 {width:0;height:0;font-size:0;line-height:0;overflow:hidden}
#ft p {font-size:13px; margin:0; padding:10px 0; line-height:1.8em; color: #fff; font-family: 'Noto Sans', sans-serif;}
#ft p.copyright { }

/**/
.ft_info_bg { background:#f1f1f1; }
.ft_info{max-width:1200px; margin:0 auto; padding:20px 0px}
.ft_info:after {display:block;visibility:hidden;clear:both;content:""}
.ft_info .location { float:left; width:50%; padding:20px;}

#ft_contact{float:left;width:50%;padding:20px;color:#000;}
.ft_con { overflow:hidden; margin-top:30px; text-align:center; }

#ft_contact p{color:#000; font-size:20px; font-weight:600; line-height:60px;}
#ft_contact i{font-size:23px; line-height:45px; color:#000; position:relative; z-index:2; float:left;}
#ft_contact li { font-size:18px; line-height:45px; }
#ft_contact li:after {display:block;visibility:hidden;clear:both;content:""}
#ft_contact .time{position:relative}
#ft_contact .time:before{content:'';position:absolute;top:50%;left:0;width:100%;height:1px ;background-image: linear-gradient(90deg, #666 25%, #222222 25%, #222222 50%, #666 50%, #666 75%, #222222 75%, #222222 100%);
background-size: 8.00px 8.00px;;z-index:0}
#ft_contact .text{background:#222;padding-right:10px;z-index:2;display:inline-block;line-height:30px;position:relative}
#ft_contact .num{background:#222;float:right;padding-left:10px;z-index:2;display:inline-block;line-height:30px;position:relative}
#ft_contact a{display:block; text-align:center; background: #2e8d24; color: #fff; margin-top:20px; line-height:45px; font-weight: 300;}

@media (max-width: 969px){
	#ft_copy { font-size:12px; padding-top: 25px; margin: 0; padding: 20px 10px;}
	.ft_info {padding:20px 0}
	.ft_info .location, #ft_contact{ width:100%; }
	#ft_contact{ padding:0 30px;}
	#ft_contact p { font-size:13px; }
	#ft_contact i { font-size:18px; line-height:30px; }
	#ft_contact li { font-size:15px; line-height:30px;  }
	
	
	.ft_logo img { width:100%; }
	.ft_con { margin-top:15px; }
}

@media (max-width: 750px){
	.ft_logo { width: 100%; text-align: left; padding: 25px 10px;}
	.ft_logo img{ width: 30%;}

}


/* 버튼 */
a.btn_w, .btn_w{line-height:40px;height:40px;padding:0 15px;text-align:center;border:0; font-size:13px;
-webkit-transition: background-color 0.3s ease-out;
-moz-transition: background-color 0.3s ease-out;
-o-transition: background-color 0.3s ease-out;
transition: background-color 0.3s ease-out;}

a.btn01 {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none;vertical-align:middle}
a.btn01:focus, a.btn01:hover {text-decoration:none}
button.btn01 {display:inline-block;margin:0;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;text-decoration:none}
a.btn02 {display:inline-block;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle;}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}
.btn_confirm {text-align:right} /* 서식단계 진행 */
.btn_submit {display:inline-block;border:0;background:#000;color:#fff;cursor:pointer}
.btn_submit:hover{background:#002c67; color:#fff;}
a.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle;}
button.btn_cancel {display:inline-block;background:#969696;color:#fff;text-decoration:none;vertical-align:middle}
.btn_cancel:hover {background:#aaa;}
a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:40px;border:0;background:#3c3c3c;border-radius:5px;color:#fff;text-decoration:none;vertical-align:top} /* 우편번호검색버튼 등 */
a.btn_frmline {}
button.btn_frmline {font-size:1em}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;background:#eee;border:0;color:#6b6b6b;text-decoration:none;vertical-align:middle}
.btn_b01:hover, .btn_b01:hover {background:#f8f8f8;color:#000}
a.btn_b02, .btn_b02{display:inline-block;background:#000;color:#fff;text-decoration:none;vertical-align:middle;border:0}
a.btn_b02:hover, .btn_b02:hover {background:#000;color:#fff;}
a.btn_b03, .btn_b03 {display:inline-block;line-height:28px;border:1px solid #ed6478;color:#ed6478;background:none;text-decoration:none;vertical-align:middle}
a.btn_b03:hover, .btn_b03:hover {}
a.btn_admin {display:inline-block;background:#ff0000;color:#fff;font-size:16px;text-decoration:none;vertical-align:middle;line-height:40px;width:40px;text-align:center;} /* 관리자 전용 버튼 */
a.btn_admin:focus, a.btn_admin:hover  {color:#fff;}


.row .header-wrap ul .right {
    float: right;
    padding-right: 10px;
    color: #fff;
}
.row .header-wrap ul .right a{

    color: #fff;
}
.container {
    width: 100% !important;
max-width: 100% !important;
}

.fh5co-nav #logs{
    float: right;
}

/* oiltxt */
.oiltxt {
	width:100%;
    }

.oiltxt.inner {
overflow:hidden;
}
.inner .incell_img {
width:40%;
float:left;
box-sizing: border-box;
text-align:center;
}

/* 969px */
@media(max-width:969px){
	.inner .incell_img{
	width: 80%;
    padding: 0;
	}
.inner .textBox {
padding: 0;
}
}
/* 270px */
@media(max-width:270px){
	.inner .incell_img{
	width: 100%;}
}
/* 690px */
@media(max-width:690px){
	.inner .incell_img{
	width: 80%;
    padding: 0;
	}
.inner .textBox {
padding: 0;
}
}
.member_img {
max-width:1200px;
margin: 0 auto;
}

.inner .incell_img img{
display: inline !important;
width:74%;
}
.inner .textBox {
width:60%;
float:right;
font-size:1rem;
padding: 30px;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
.inner .textBox p {
padding-bottom:1rem;
margin:0 0 10px;
font-size:16px;
word-break: keep-all;
text-align: left;
font-family: 'Pretendard-Regular';
}
.incell_bak{
overflow:hidden;
width:100%;
height:100vh;
}

.incell_bak .bak_position {
width:100%;
height:100%;
background: url(../images/brandstory_img02.jpg) no-repeat 50%;
background-size:cover;
background-attachment: fixed;
}
/* 1200px */
@media screen and (max-width: 1200px) {
.inner .incell_img img {
width:100%
}
}
/* 969px */
@media screen and (max-width: 969px) {
.inner .incell_img,.inner .textBox {
float:none;
margin:0 auto;
padding: 0;
width:80%
}
.oiltxt  img {
width:100%;
}
}
/* 690px */
@media screen and (max-width: 690px) {
width:100%;
}.oiltxt  img {
.inner .incell_img{
width:100%;
{
.inner .textBox{
padding:0;
}
}
/* 270px */
@media screen and (max-width: 270px) {
.oiltxt  img {
width:100%;
}
.inner .incell_img{
width:100%;
{
.inner .textBox{
padding:0;
}
}

/* section 메인 페이지 반응형 제작 */

/* 1200px */
@media screen and (max-width: 1200px){
.section2 .inner
width:100%;
}


